body {
  font-size: 12px;
  color: #454545;
  margin: 0;
  font-weight: normal;
}

header {
  width: 100%;
  height: 60px;
  padding-top:15px;
  background-size: cover;
  background: #f8f6ef;
  color: #fff;
  font-size: 16px;
}
.inner {
  width: 860px;
  margin: 0 auto;
  overflow: hidden;
}
header h1 {
  float:left;
}

nav {
  float: right;
  margin-top: 4px;
  padding-bottom: 22px;
  position:relative;
}
nav a {
  float: left;
  text-align: center;
  margin-left: 30px;
}
nav .current:link , nav .current:visited {
  color: #22abba;
  cursor: default;
}
nav a.current span {
  color: rgba(34,171,186,0.4);
  cursor: default;
}
nav a span {
  display: block;
  color: rgba(0,0,0,0.3);
  font-size: 14px;
  font-family: 'Helvetica-Oblique';
  margin: 2px;
}
nav a:link {
  color: #666;
  text-decoration: none;
}
nav a:visited {
  color: #666;
}
nav a:hover {
  color: #22abba;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
nav a:hover span {
  color: rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
nav a:active {
  color: #22abba;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
nav a:active span {
  color: rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
nav p {
  background: #22abba;
  height: 3px;
  display: block;
  position: absolute;
  width: 50px;
  bottom: 0;
  margin-left: 30px;
}

.roomtype-main_wrapper {
  width: 100%;
  height: 48px;
  background-color: #fff;
  padding: 10px 0 44px 0;
}
.breadcrumbs {
  margin-bottom: 30px;
  color: #ccc;
}
.breadcrumbs li{
  display: inline-block;
}
.breadcrumbs li:after {
  content: ">";
  margin: 0 5px 0 5px;
}
.breadcrumbs li:last-child:after {
  content: none;
}
.breadcrumbs li a:link {
  color: #ccc;
}
.breadcrumbs li a:visited {
  color: #ccc;
}
.breadcrumbs li a:hover {
  color: #efefef;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
.breadcrumbs li a:active {
  color: #efefef;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}

.roomtype-main-left {
  float: left;
  width: 365px;
  height: 50px;
  position: relative;
  overflow: hidden;
}
h2 {
  font-size: 27px;
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro";
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
h2 span {
  font-size: 16px;
  font-family: 'HelveticaNeue-Light';
  margin-left: 10px;
}
.roomtype-main-right {
  float: right;
  width: 432px;
  height: 50px;
  text-align: right;
  position: relative;
  overflow: hidden;
}
.roomtype-main-right ul {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
}
.roomtype-main-right li {
  display: inline-block;
  margin-left: 10px;
}
.roomtype-main-right li.active {
  font-weight: bold;
}
.roomtype-main-right li a:link {
  color: #d1c192;
}
.roomtype-main-right li a:visited {
  color: #d1c192;
}
.roomtype-main-right li a:hover {
  color: rgba(209,193,146,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
.roomtype-main-right li a:active {
  color: rgba(209,193,146,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}

.roomtype-main-slide {
  clear: both;
  width: 100%;
  height: 360px;
  background-size: cover;
  background-image: url(../images/slider-img1.jpg);
}
.roomtype-main-slide-thumb {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  text-align: center;
}

.roomtype-caption_wrapper {
  width: 100%;
  height: 146px;
  text-align: center;
  padding-bottom: 60px;
}
.roomtype-copy {
  padding: 36px 0 26px 0;
}
.roomtype-caption_wrapper p {
  line-height: 2;
}

.information_wrapper {
  width: 100%;
  height: 910px;
  background-color: #f8f6ef;
  padding: 44px 0;
  font-family: 'Helvetica','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro';
  color: #666;
}

.room-grade {
  text-align: center;
}
.room-grade li {
  display: inline-block;
  margin: 0 10px 0 10px;
}
.room-grade ul li.active a:link {
  background-color: #d1c192;
  border: 2px #d1c192 solid;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  cursor:pointer;
  color: #fff;
  font-size: 12px;
  padding: 8px 48px;
  text-decoration: none;
}
.room-grade ul li.active a:visited {
  background-color: #d1c192;
  border: 2px #d1c192 solid;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  cursor:pointer;
  color: #fff;
  font-size: 12px;
  padding: 8px 48px;
  text-decoration: none;
}
.room-grade ul li.active a:hover {
  background-color: #d1c192;
  border: 2px #d1c192 solid;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  cursor:pointer;
  color: #fff;
  font-size: 12px;
  padding: 8px 48px;
  text-decoration: none;
}
.room-grade ul li.active a:active {
  background-color: #d1c192;
  border: 2px #d1c192 solid;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  cursor:pointer;
  color: #fff;
  font-size: 12px;
  padding: 8px 48px;
  text-decoration: none;
}
.room-grade ul li a:link {
  border: 2px #d1c192 solid;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  cursor:pointer;
  color: #d1c192;
  font-size: 12px;
  padding: 8px 48px;
  text-decoration: none;
}
.room-grade ul li a:visited {
  border: 2px #d1c192 solid;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  cursor:pointer;
  color: #d1c192;
  font-size: 12px;
  padding: 8px 48px;
  text-decoration: none;
}
.room-grade ul li a:hover {
  background-color: rgba(209,193,146,0.3);
  border: 2px #d1c192 solid;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  -moz-transition: background-color, .3s;
  -webkit-transition: background-color, .3s;
  -o-transition: background-color, .3s;
  transition: background-color, .3s;
  cursor:pointer;
  color: #d1c192;
  font-size: 12px;
  padding: 8px 48px;
  text-decoration: none;
}
.room-grade ul li a:active {
  background-color: rgba(209,193,146,0.3);
  border: 2px #d1c192 solid;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  -moz-transition: background-color, .3s;
  -webkit-transition: background-color, .3s;
  -o-transition: background-color, .3s;
  transition: background-color, .3s;
  cursor:pointer;
  color: #d1c192;
  font-size: 12px;
  padding: 8px 48px;
  text-decoration: none;
}

.room-info_inner {
  margin: 25px 0;
}
.room-info_1, .room-info_2 {
  text-align: center;
}
.room-info {
  display: inline-block;
  margin: 20px 25px;
}
.room-info dd {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}
.room-info span {
  font-size: 16px;
  margin: 10px 0 0 5px;
}


.info-cont1 {
  border-top: 1px rgba(0,0,0,0.1) solid;
  padding: 34px 0 40px 0;
  overflow: hidden;
}
.info-cont1 li:before {
  content: "・";
  color: rgba(0,0,0,0.3);
}

.info-cont1-left {
  float: left;
  width: 332px;
  margin-left: 100px;
}
.i-c1-l-wrap {
  padding-top: 15px;
  overflow: hidden;
}
.i-c1-l-left {
  float: left;
  width: 142px;
}
.i-c1-l-left li {
  line-height: 3;
}
.i-c1-l-right {
  float: right;
  width: 190px;
}
.i-c1-l-right li {
  line-height: 3;
}
.i-c1-l-right li span {
  display: block;
  line-height: 0.5;
}
/* info1 left */

.info-cont1-right {
  float: right;
  width: 236px;
  margin-right: 100px;
}
.i-c1-r-wrap {
  padding-top: 15px;
  overflow: hidden;
}
.i-c1-r-left {
  float: left;
  width: 140px;
}
.i-c1-r-left li {
  line-height: 3;
}
.i-c1-r-right {
  float: right;
  width: 96px;
}
.i-c1-r-right li {
  line-height: 3;
}
/* info1 right */
/* info1 */

.info-cont2 {
  clear: both;
  border-top: 1px rgba(0,0,0,0.1) solid;
  padding: 34px 0 40px 0;
  overflow: hidden;
}
.info-cont2 li:before {
  content: "・";
  color: rgba(0,0,0,0.3);
}
.free {
  margin-bottom: -5px;
}
.info-cont2-title {
  float: left;
  width: 332px;
  margin-left: 100px;
  padding-bottom: 20px;
}
.info-cont2-left {
  float: left;
  width: 332px;
  margin-left: 100px;
  padding-top: 5px;
}
.i-c2-l-wrap {
  padding-top: 15px;
  overflow: hidden;
}
.i-c2-l-left {
  float: left;
  width: 142px;
}
.i-c2-l-left li {
  line-height: 3;
}
.i-c2-l-right {
  float: right;
  width: 190px;
}
.i-c2-l-right li {
  line-height: 3;
}
.i-c2-l-right li span {
  display: block;
  line-height: 0.5;
}
/* info2 left */

.info-cont2-right {
  float: right;
  width: 290px;
  margin-right: 100px;
  padding-top: 5px;
}
.charge {
  margin-bottom: -5px;
}
.i-c2-r-wrap {
  padding-top: 15px;
  overflow: hidden;
}
.i-c2-r-left li {
  line-height: 3;
}
.i-c2-r-left li span {
  padding-left: 13px;
  margin-top: -2px;
  display: block;
  line-height: 2;
}
.i-c2-r-left li.pc {
  margin-top: 8px;
}
/* info2 right */
/* info2 */


h6 {
  font-size: 18px;
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro";
}
/* info */

.reserve_wrapper {
  width: 100%;
  height: 37px;
  background-color: #f8f6ef;
  padding: 10px 0;
}
h5 {
  float: left;
  margin-top: 10px;
  margin-right: 10px
}
.reserve-list dt {
  float: left;
  margin: 12px 5px 0 10px;
}
.reserve-list dd {
  float: left;
  margin-top: 9px;
}
.search-button, .check-button {
  float: right;
  margin-left: 10px;
}
.search-button a:link {
	-moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background:-moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color:#22abba;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #22abba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 30px;
	text-decoration:none;
  position: relative;
}
.search-button a:visited {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background:-moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color:#22abba;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #22abba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 30px;
	text-decoration:none;
  position: relative;
}
.search-button a:hover {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 30px;
	text-decoration:none;
  position: relative;
}
.search-button a:active {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 30px;
	text-decoration:none;
  position: relative;
}
.check-button a:link {
	-moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1c192), color-stop(1, #d1c192));
	background:-moz-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-webkit-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-o-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-ms-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:linear-gradient(to bottom, #d1c192 5%, #d1c192 100%);
	background-color:#d1c192;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #d1c192;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 30px;
	text-decoration:none;
  position: relative;
}
.check-button a:visited {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1c192), color-stop(1, #d1c192));
	background:-moz-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-webkit-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-o-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-ms-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:linear-gradient(to bottom, #d1c192 5%, #d1c192 100%);
	background-color:#d1c192;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #d1c192;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 30px;
	text-decoration:none;
  position: relative;
}
.check-button a:hover {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(209,193,146,0.3)), color-stop(1, rgba(209,193,146,0.3)));
	background:-moz-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-o-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:linear-gradient(to bottom, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background-color:rgba(209,193,146,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(209,193,146,0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 30px;
	text-decoration:none;
  position: relative;
}
.check-button a:active {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(209,193,146,0.3)), color-stop(1, rgba(209,193,146,0.3)));
	background:-moz-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-o-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:linear-gradient(to bottom, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background-color:rgba(209,193,146,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(209,193,146,0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 30px;
	text-decoration:none;
  position: relative;
}

.plan_wrapper {
  width: 100%;
  height: 477px;
  background-color: #fff;
  padding: 44px 0 44px 0;
}
.inner h3, .inner h3 {
  text-align: center;
  margin-bottom: 34px;
}
.plan {
  margin-right: 31px;
  float: left;
  width: 191px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.plan_wrapper .inner div:nth-child(5) {
  margin-right: 0 !important;
}
.plan img {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -moz-border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
figure {
  width: 191px;
  height: 133px;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.caption {
  width: 191px;
  height: 165px;
  background-color: #fff;
  text-align: center;
}
.caption h4 {
  padding: 20px 0 14px 0;
  font-size: 21px;
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro"; font-weight: bold;
}
.caption p {
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.more-button a:link {
	-moz-box-shadow: inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 1px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background: -moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color: #22abba;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #22abba;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 46px;
	text-decoration: none;
}
.more-button a:visited {
  -moz-box-shadow: inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 1px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background: -moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color: #22abba;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #22abba;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 46px;
	text-decoration: none;
}
.more-button a:hover {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 46px;
	text-decoration: none;
}
.more-button a:active {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 46px;
	text-decoration: none;
}

.more-all_wrapper {
  width: 100%;
  height: 60px;
  clear: both;
  position: relative;
}
.more-all_wrapper .more {
  right: 0;
  bottom: 0;
  position: absolute;
}

.more-all_wrapper .more p {
  font-size: 12px;
  background: url(../images/chevron.png) left center no-repeat;
  padding-left: 10px;
  padding-top: 4px;
}
.more-all_wrapper a:link {
  color: #22abba;
  text-decoration: none;
}
.more-all_wrapper a:visited {
  color: #22abba;
}
.more-all_wrapper a:hover {
  color: rgba(34,171,186,0.3);
  transition: background-color, .2s;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
}
.more-all_wrapper a:active {
  color: rgba(34,171,186,0.3);
  transition: background-color, .2s;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
}

.news_wrapper {
  width: 100%;
  height: 515px;
  background-color: #fff;
  padding: 44px 0 44px 0;
}
.news_wrapper dl {
  border-bottom: 1px rgba(0,0,0,0.1) solid;
  padding: 23px 0;
  overflow: hidden;
}
.news_wrapper dl:nth-child(4){
  border-bottom: none;
}
.news_wrapper dt {
  float: left;
  width: 90px;
  background-color: #f7f0d5;
  padding: 6px 0;
  text-align: center;
}
.news-ymd {
  float: left;
  width: 102px;
  padding: 6px 0;
  margin-left: 25px;
}
.news-cont {
  float: left;
  width: 613px;
  padding: 6px 0;
}
.news-cont a:link {
  color: #666;
}
.news-cont a:visited {
  color: #666;
}
.news-cont a:hover {
  color: #ccc;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
.news-cont a:active {
  color: #ccc;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}

footer {
  width: 100%;
  height: 258px;
  background-color: #22abba;
  color: #fff;
  padding: 20px 0 20px 0;
  text-align: center;
  position: relative;
}
.favor-nav li {
  display: inline-block;
  padding: 0 10px;
}
li.chevron2 {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  display: inline;
  background: url(../images/chevron2.png) left center no-repeat;
  padding-left: 13px;
  padding-top: 2px;
  line-height: 4;
}
li.lang {
  border-right: 1px #fff solid;
}
li.lang:nth-child(3) {
  border-right: none;
}
.favor-nav a:link {
  color: #fff;
  text-decoration: none;
}
.favor-nav a:visited {
  color: #fff;
}
.favor-nav a:hover {
  color: rgba(255,255,255,0.3);
  transition: background-color, .2s;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
}
.favor-nav a:active {
  color: rgba(255,255,255,0.3);
  transition: background-color, .2s;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
}
footer h1 {
  margin-top: 25px;
}
footer p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
footer p.credit {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
}
