body {
  font-size: 12px;
  color: #666;
  margin: 0;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
}

header {
  width: 100%;
  height: 430px;
  padding-top:15px;
  background: url(../images/main.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 16px;
}
/*
.cover img {
  width: 100%;
  max-width: 1024px;
}
*/
.inner {
  width: 860px;
  margin: 0 auto;
  overflow: hidden;
}
header h1 {
  float:left;
}

nav {
  float: right;
  margin-top: 4px;
  padding-bottom: 22px;
  position:relative;
}
nav a {
  float: left;
  text-align: center;
  margin-left: 30px;
}
nav .current:link , nav .current:visited {
  color: #22abba;
  cursor: default;
}
nav a.current span {
  color: rgba(34,171,186,0.4);
  cursor: default;
}
nav a span {
  display: block;
  color: rgba(0,0,0,0.3);
  font-size: 14px;
  font-family: 'Helvetica-Oblique';
  margin: 2px;
}
nav a:link {
  color: #666;
  text-decoration: none;
}
nav a:visited {
  color: #666;
}
nav a:hover {
  color: #22abba;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
nav a:hover span {
  color: rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
nav a:active {
  color: #22abba;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
nav a:active span {
  color: rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
nav p {
  background: #22abba;
  height: 3px;
  display: block;
  position: absolute;
  width: 50px;
  bottom: 0;
  margin-left: 30px;
}

.reserve_wrapper {
  width: 100%;
  height: 37px;
  background-color: #f8f6ef;
  padding: 10px 0;
}
h5 {
  float: left;
  margin-top: 10px;
  margin-right: 3px;
}
.reserve-list dl {
  float: left;
  margin-right: 30px;
}
.reserve-list dt {
  float: left;
  margin: 12px 5px 0 10px;
}
.reserve-list dd {
  float: left;
  margin-top: 7px;
}
select{
  cursor:pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: "";
  color: #B3B3B3;
  height: 23px;
  font-size: 100%;
  padding: 0px 24px 1px 6px;
  border: 1px solid #B3B3B3;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: #FFF url(../images/select.png) no-repeat right;
}
.search-button {
  float: left;
}
.check-button {
  float: right;
}
.search-button a:link {
	-moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background:-moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color:#22abba;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #22abba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 28px;
	text-decoration:none;
  position: relative;
}
.search-button a:visited {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background:-moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color:#22abba;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #22abba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
  padding:10px 28px;
	text-decoration:none;
  position: relative;
}
.search-button a:hover {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
  padding:10px 28px;
	text-decoration:none;
  position: relative;
}
.search-button a:active {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
  padding:10px 28px;
	text-decoration:none;
  position: relative;
}
.check-button a:link {
	-moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1c192), color-stop(1, #d1c192));
	background:-moz-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-webkit-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-o-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-ms-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:linear-gradient(to bottom, #d1c192 5%, #d1c192 100%);
	background-color:#d1c192;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #d1c192;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
  padding:10px 25px;
	text-decoration:none;
  position: relative;
}
.check-button a:visited {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1c192), color-stop(1, #d1c192));
	background:-moz-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-webkit-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-o-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:-ms-linear-gradient(top, #d1c192 5%, #d1c192 100%);
	background:linear-gradient(to bottom, #d1c192 5%, #d1c192 100%);
	background-color:#d1c192;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #d1c192;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
  padding:10px 25px;
	text-decoration:none;
  position: relative;
}
.check-button a:hover {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(209,193,146,0.3)), color-stop(1, rgba(209,193,146,0.3)));
	background:-moz-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-o-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:linear-gradient(to bottom, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background-color:rgba(209,193,146,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(209,193,146,0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
  padding:10px 25px;
	text-decoration:none;
  position: relative;
}
.check-button a:active {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(209,193,146,0.3)), color-stop(1, rgba(209,193,146,0.3)));
	background:-moz-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-o-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background:linear-gradient(to bottom, rgba(209,193,146,0.3) 5%, rgba(209,193,146,0.3) 100%);
	background-color:rgba(209,193,146,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(209,193,146,0.3);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
  padding:10px 25px;
	text-decoration:none;
  position: relative;
}


.pickup_wrapper {
  width: 100%;
  height: 226px;
  background-color: #fff;
  padding: 44px 0 44px 0;
  overflow: hidden;
}
.pickup-left {
  float: left;
  width: 365px;
  height: 223px;
}
.pickup-right {
  float: right;
  width: 432px;
  height: 223px;
  position: relative;
}
.pickup-right p {
  line-height: 2.4;
}
h2 img {
  margin-bottom: 12px;
}
.reserve-button a:link {
	-moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background:-moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color:#22abba;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #22abba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:8px 42px;
	text-decoration:none;
	position: absolute;
	bottom: 0;
	right: 0;
}
.reserve-button a:visited {
	-moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background:-moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:-ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background:linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color:#22abba;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #22abba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:8px 42px;
	text-decoration:none;
	position: absolute;
	bottom: 0;
	right: 0;
}
.reserve-button a:hover {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  padding:8px 42px;
  text-decoration:none;
  position: absolute;
  bottom: 0;
  right: 0;
}
.reserve-button a:active {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  padding:8px 42px;
  text-decoration:none;
  position: absolute;
  bottom: 0;
  right: 0;
}


.plan_wrapper {
  width: 100%;
  height: 515px;
  background-color: #f8f6ef;
  padding: 44px 0 44px 0;
}
.inner h3, .inner h3 {
  text-align: center;
  margin-bottom: 34px;
}
.plan {
  margin-right: 31px;
  float: left;
  width: 191px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.plan_wrapper .inner div:nth-child(5) {
  margin-right: 0 !important;
}
.plan img {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -moz-border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
figure {
  width: 191px;
  height: 133px;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.caption {
  width: 191px;
  height: 165px;
  background-color: #fff;
  text-align: center;
}
.caption h4 {
  padding: 20px 0 14px 0;
  font-size: 21px;
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro";
  font-weight: bold;
}
.caption p {
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.more-button a:link {
	-moz-box-shadow: inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 1px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background: -moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color: #22abba;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #22abba;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 46px;
	text-decoration: none;
}
.more-button a:visited {
  -moz-box-shadow: inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 1px 0px #ffffff;
	box-shadow: inset 0px 0px 1px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abba), color-stop(1, #22abba));
	background: -moz-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -webkit-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -o-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: -ms-linear-gradient(top, #22abba 5%, #22abba 100%);
	background: linear-gradient(to bottom, #22abba 5%, #22abba 100%);
	background-color: #22abba;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #22abba;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 46px;
	text-decoration: none;
}
.more-button a:hover {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 46px;
	text-decoration: none;
}
.more-button a:active {
  -moz-box-shadow:inset 0px 0px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 1px 0px #ffffff;
	box-shadow:inset 0px 0px 1px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(34,171,186,0.3)), color-stop(1, rgba(34,171,186,0.3)));
	background:-moz-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-webkit-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-o-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:-ms-linear-gradient(top, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background:linear-gradient(to bottom, rgba(34,171,186,0.3) 5%, rgba(34,171,186,0.3) 100%);
	background-color:rgba(34,171,186,0.3);
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(34,171,186,0.3);
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 46px;
	text-decoration: none;
}

.more-all_wrapper {
  width: 100%;
  height: 60px;
  clear: both;
  position: relative;
}
.more-all_wrapper .more {
  right: 0;
  bottom: 0;
  position: absolute;
}

.more-all_wrapper .more p {
  font-size: 12px;
  background: url(../images/chevron.png) left center no-repeat;
  padding-left: 10px;
  padding-top: 4px;
}
.more-all_wrapper a:link {
  color: #22abba;
  text-decoration: none;
}
.more-all_wrapper a:visited {
  color: #22abba;
}
.more-all_wrapper a:hover {
  color: rgba(34,171,186,0.3);
  transition: background-color, .2s;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
}
.more-all_wrapper a:active {
  color: rgba(34,171,186,0.3);
  transition: background-color, .2s;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
}

.news_wrapper {
  width: 100%;
  height: 385px;
  background-color: #fff;
  padding: 44px 0 44px 0;
}
.news_wrapper dl {
  border-bottom: 1px rgba(0,0,0,0.1) solid;
  padding: 23px 0;
  overflow: hidden;
}
.news_wrapper dl:nth-child(4){
  border-bottom: none;
}
.news_wrapper dt {
  float: left;
  width: 90px;
  background-color: #f7f0d5;
  padding: 6px 0;
  text-align: center;
}
.news-ymd {
  float: left;
  width: 102px;
  padding: 6px 0;
  margin-left: 25px;
}
.news-cont {
  float: left;
  width: 613px;
  padding: 6px 0;
}
.news-cont a:link {
  color: #666;
}
.news-cont a:visited {
  color: #666;
}
.news-cont a:hover {
  color: #ccc;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}
.news-cont a:active {
  color: #ccc;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
  transition: background-color, .2s;
}

footer {
  width: 100%;
  height: 258px;
  background-color: #22abba;
  color: #fff;
  padding: 20px 0 20px 0;
  text-align: center;
  position: relative;
}
.favor-nav li {
  display: inline-block;
  padding: 0 10px;
}
li.chevron2 {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  display: inline;
  background: url(../images/chevron2.png) left center no-repeat;
  padding-left: 13px;
  padding-top: 2px;
  line-height: 4;
}
li.lang {
  border-right: 1px #fff solid;
}
li.lang:nth-child(3) {
  border-right: none;
}
.favor-nav a:link {
  color: #fff;
  text-decoration: none;
}
.favor-nav a:visited {
  color: #fff;
}
.favor-nav a:hover {
  color: rgba(255,255,255,0.3);
  transition: background-color, .2s;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
}
.favor-nav a:active {
  color: rgba(255,255,255,0.3);
  transition: background-color, .2s;
  -moz-transition: background-color, .2s;
  -webkit-transition: background-color, .2s;
  -o-transition: background-color, .2s;
}
footer h1 {
  margin-top: 25px;
}
footer p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
footer p.credit {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
}
